<h1>Welcome to TheSite.com</h1>

<button type="button" style="background-color:rgb(255, 230, 0);margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%">
   ENTER
</button> 

