body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(250, 134, 1);
  text-align: center;
  color: white;
}

a {
  color: rgba(1, 9, 116, 0.993);
}

form {
  background: rgba(1, 9, 116, 0.983);
  color: white;
}

h1 {
  background: rgba(1, 9, 116, 0.983);
}