<h1>List Venues</h1>

<div>
  {{#each venues}}
  <div>Name: {{this.name}}</div>
  <div>Adress: {{this.address}}</div>
  <div>Phone: {{this.phone}}</div>
  <div>dtsa: {{this.dtsa}}</div>
  <div><a href='/new'>( games )</a></div>

  {{/each}}
</div>