<h1>List Games for {{venue.name}}</h1>

<div>
  {{#each venue.games}}
  <div>Game: {{this.list}}</div>
  <div>Speaker: {{this.speaker}}</div>

  <a href='/users/{{../user._id}}/venues/'>Back to venues</a>

  {{/each}}
</div>